<!-- <div class="list-group" >
    <h1 class="category">CATEGORIES</h1><hr>
       
           <h5><a href="#" class="list">Gifts/Combos</a></h5><p  style="padding: 1% ;"></p>
          <h5><a href="#" class="list">Premium Cupcakes</a></h5> <p  style="padding: 1% ;"></p>
          <h5><a href="#" class="list">Birthday Cupcakes</a></h5><p  style="padding: 1% ;"></p>
          <h5> <a href="#" class="list">Custom Cupcakes</a></h5><p  style="padding: 1% ;"></p>
          <h5> <a href="#" class="list">Cartoon Cupcakes</a></h5><p  style="padding: 1% ;"></p>
          <h5> <a href="#" class="list">Superhero Cupcakes</a></h5><p  style="padding: 1% ;"></p>
          <h5> <a href="#" class="list">Cheesecake Cupcakes</a></h5><p  style="padding: 1% ;"></p>
          <h5> <a href="#" class="list">Eggless Cupcakes</a></h5><p  style="padding: 1% ;"></p>
           <h5> <a href="#" class="list">Midnight Delivery</a></h5><br><p  style="padding: 1% ;"></p>
       
   
     </div>
    
     <p style="padding:10px ;">
    
    </p>
    <form class="contact" style="border-style: solid; width: 20%; text-align: center; background-color: white; border-radius: 6px; margin-inline-start: 2%; margin-bottom: 1%; ">
     <div >
       CONTACT US<hr>
       <div style="color: rgb(241, 124, 144);">
         Our Support is available <br>24/7<br>
         <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+91 9988776655<br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;+91 9988776654
 
       </div>
       
     </div>
    </form> -->
