<!-- .<body style="background-color: rgb(224, 204, 207); margin-top: -3%;">
    <p style="padding: 8px ;"></p>



<div>
    <div class="list-group"  >
        <h1 class="category">CATEGORIES</h1><hr>
           
               <h5><a href="#" class="list" >Gifts/Combos</a></h5><p  style="padding: 1% ;"></p>
              <h5><a href="#" class="list" >Premium Cupcakes</a></h5> <p  style="padding: 1% ;"></p>
              <h5><a href="#" class="list"  >Birthday Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list" >Custom Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Cartoon Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Superhero Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Cheesecake Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Eggless Cupcakes</a></h5><p  style="padding: 1% ;"></p>
               <h5> <a href="#" class="list">Midnight Delivery</a></h5><br><p  style="padding: 1% ;"></p>
           
       
         </div>
     
  
       <p style="padding:10px ;">
    
       </p>
       <form class="contact" style="border-style: solid; width: 25%; text-align: center; background-color: white; border-radius: 6px; margin-inline-start: 2%; ">
        <div >
          CONTACT US<hr>
         
          <div style="color: rgb(241, 124, 144);">
            Our Support is available <br>24/7<br>
            <div class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i> <span class="span">+91 9988776655<br>
            +91 9988776654</span>
      </div>
         
          </div>
          
        </div>
       </form>
      



 

    <form class="login" style="margin-inline-start: 30%; margin-top:-21cm">
        <div class="auth">
            <h1 style="padding: 1px ; text-align: center; color: rgb(234, 92, 115); background-color: whitesmoke;">Authentication</h1>
        </div>
        <div class="create" >
            <p style="background-color: rgb(234, 92, 115); color:white;">&nbsp;Create an Account</p>
        
         
           
            <form style="text-align: center;" action="#" method="post" >
                Please enter your email address to create an account.<br>
                <label for="email">Email address</label>
                <input style=" border-style: solid; border-radius :5px;" type="email" name="Email address" id=""><br>
                <button class="click" >Create an account</button>
            </form>
        </div>
     
        <div style="padding-right: 10%;"><br>

        </div>
        <div class="registered" >
            <p style="background-color: rgb(234, 92, 115); color:white;">&nbsp;Already registered?</p>
            <form action="#" method="post" style="text-align: center;">
                <label for="email">Email address</label>
                <input style=" border-style: solid; border-radius :5px;" type="email" name="Email address" id=""><br>
                <p style="padding: 1px"></p>
                <label for="password">Password</label>
                <input style=" border-style: solid; border-radius :5px; " type="password" name="Password" id=""><br>
                <p style="text-align: start;">&nbsp; Forgot your password?</p> 
                <button class="click">Authenticate</button>
            </form>
        </div>
    

    </form>
</div>



<p style="padding: 15%;"></p>
<div class="footer" ><h3> ©The Cupcake Maker, All Rights Reserved</h3></div>

  -->




  .<body style="background-color: rgb(224, 204, 207); margin-top: -3%;">
    <p style="padding: 8px ;"></p>



<div>
    <div class="list-group"  >
        <h1 class="category">CATEGORIES</h1><hr>
           
               <h5><a href="#" class="list" >Gifts/Combos</a></h5><p  style="padding: 1% ;"></p>
              <h5><a href="#" class="list" >Premium Cupcakes</a></h5> <p  style="padding: 1% ;"></p>
              <h5><a href="#" class="list"  >Birthday Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list" >Custom Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Cartoon Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Superhero Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Cheesecake Cupcakes</a></h5><p  style="padding: 1% ;"></p>
              <h5> <a href="#" class="list">Eggless Cupcakes</a></h5><p  style="padding: 1% ;"></p>
               <h5> <a href="#" class="list">Midnight Delivery</a></h5><br><p  style="padding: 1% ;"></p>
           
       
         </div>
     
  
       <p style="padding:10px ;">
    
       </p>
       <form class="contact" style="border-style: solid; width: 25%; text-align: center; background-color: white; border-radius: 6px; margin-inline-start: 2%; ">
        <div >
          CONTACT US<hr>
         
          <div style="color: rgb(241, 124, 144);">
            Our Support is available <br>24/7<br>
            <div class="icon">
            <i class="fa fa-phone" aria-hidden="true"></i> <span class="span">+91 9988776655<br>
            +91 9988776654</span>
      </div>
         
          </div>
          
        </div>
       </form>
       <form class="login" style="margin-inline-start: 30%; margin-top:-21cm">
        <div class="auth">
            <h1 style="padding: 1px ; text-align: center; color: rgb(234, 92, 115); background-color: whitesmoke;">Authentication</h1>
        </div>
        <div class="create" >
            <p style="background-color: rgb(234, 92, 115); color:white;">&nbsp;Create an Account</p>
       
       <form [formGroup]="requiredForm" novalidate (ngSubmit)="submit" id="search">
        <!-- <label>Email <input type="text" name="s-user" id="s-user"></label>&nbsp;&nbsp;
        <label>Password <input type="text" name="s-pass" id="s-pass"></label>&nbsp;&nbsp;&nbsp;
        -->
        
          <label>Email:
            <input   formControlName="email">
          </label>
         <small *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched" class="alert">*Enter correct email.
            <small *ngIf="requiredForm.controls['email'].errors?.['required']">
            <!-- Email is required. -->
            </small>
         </small>
         <button class="click" >Create an account</button>
         </form>
        </div>
        <div style="padding-right: 10%;"><br>

        </div>
        <div class="registered" >
            <p style="background-color: rgb(234, 92, 115); color:white;">&nbsp;Already registered?</p>
      
       <form [formGroup]="requiredForm" novalidate (ngSubmit)="submit" id="search">
        <!-- <label>Email <input type="text" name="s-user" id="s-user"></label>&nbsp;&nbsp;
        <label>Password <input type="text" name="s-pass" id="s-pass"></label>&nbsp;&nbsp;&nbsp;
        -->
        
          <label>Email Address:
            <input   formControlName="email">
          </label>
         <small *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched" class="alert">*Enter correct email.
            <small *ngIf="requiredForm.controls['email'].errors?.['required']">
            <!-- Email is required. -->
            </small>
         </small>
         
       <br><br>
          <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password: </label>
            <input type="password"    formControlName="password">
        <small *ngIf="requiredForm.controls['password'].invalid && requiredForm.controls['password'].touched" class="alert">*Enter strong password.
            <small *ngIf="requiredForm.controls['password'].errors?.['required']">
            <!-- Password is required. -->
            </small>
          </small> &nbsp;&nbsp;
          <br><br>
          <button class="btn" type="submit" [disabled]='requiredForm.invalid'  (click)="submit()" routerLink="home">Authenticate</button>
        
      </form>
    </div>

      </form>
       
       
</div>



<p style="padding: 15%;"></p>
<div class="footer" ><h3> ©The Cupcake Maker, All Rights Reserved</h3></div>

 