.footer {
    padding: 3rem 0 2rem 0 ;
    background: rgba(87, 35, 55, 0.906);
    text-align: center;
    width: 100% !important;
    bottom: 0;
    color: white;
    margin-top: 2%;
    height: 30px;
    font-size: medium;
    }
    h3 {
        text-align: center;
    }